.card-list {
  width: 350px;
  margin: 16px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-list-images-container {
  height: 100px;
  width: 100%;
  overflow: hidden;
  filter: brightness(50%);
}

.card-list-images-grid {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 70px;
  }
}

.card-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-list p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-list-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-list-infos p {
  font-size: 14px;
}

.card-list-name {
  text-decoration: none;
  color: $teal;
  &:hover {
    color: white;
  }
}
